/* General Styles */
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

input, button {
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
}

button {
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

button:hover {
  background-color: #21a1f1;
}

/* Dashboard Styles */
.dashboard {
  padding: 20px;
}

.dashboard input {
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.dashboard table {
  width: 100%;
  border-collapse: collapse;
}

.dashboard th, .dashboard td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.dashboard th {
  background-color: #f2f2f2;
}

/* Footer Styles */
footer {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #282c34;
}

button.footer-button {
  margin: 0 5px;
  padding: 10px 20px;
}

/* Login Styles */
.login, .login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login input {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.login button {
  padding: 10px;
}
